@mixin light-theme-colors {
  --primary-color: #007fff;

  --neutral-color: #202020;
  --neutral-color-900: #202020;

  --text-color: #202020;
  --text-reverse-color: #ffffff;
  --bg-color: #dadada;
  --bg-reverse-color: #202020;
}

@mixin dark-theme-colors {
  --primary-color: #007fff;

  --neutral-color: #dadada;
  --neutral-color-900: #202020;

  --text-color: #dadada;
  --text-reverse-color: #000000;
  --bg-color: #202020;
  --bg-reverse-color: #dadada;
}

:root {
  @include light-theme-colors();
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme-colors();
  }
}

[data-theme='light'] {
  @include light-theme-colors();
}

[data-theme='dark'] {
  @include dark-theme-colors();
}
